.h2 {
    position: absolute;
    width: 506px;
    height: 105px;
    left: 148px;
    top: 228px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    color: #21243D
}